header
  &.page-header
    background: #313639 image-url("page-header-bg.jpg") 0 0 repeat
    +padding-leader(1.5)
    +padding-trailer(1.5)
    +margin-trailer(1)
    +box-shadow(inset 0 0 1.5em $black)
    
    +respond-to(retina)
      +background-size(256px,256px)
    
    h1  
      color: $white
      font-weight: bold
      +adjust-font-size-to(22px)
      +adjust-leading-to(1)
      +text-shadow(0 1px 4px rgba($black, .8))

      body.conheca &
        text-align: center
        +adjust-font-size-to(40px)
        +adjust-leading-to(2)
    
    p.entry-meta
      text-align: center
      color: #888
      +adjust-font-size-to(14px)
      +adjust-leading-to(1)
      +padding-leader(.5)
      +text-shadow(0 1px 1px rgba($black, .3))

      .author
        font-weight: bold
      
      .place
        &:before
          content: ", "

    .page-header-inner
      +container

.pagination
  @extend .pagination-large
  @extend .pagination-centered
  +padding-leader(1)
  +padding-trailer(1)
  clear: both