#header-page, #header-page-inner
  +pie-clearfix
  
#header-page
  position: relative
  
#header-page-inner
  +container

  .logo-page
    width: 208px
    height: 34px
    +background-2x(logo)
    +hide-text
    display: block
    position: absolute
    top: +rhythm(1)
    
    a
      display: block
      width: 208px
      height: 34px


  nav.nav-page
    +span-columns(8 ,16)
    +push(4,16)
    +padding-leader(1)
    +padding-trailer(.5)
    padding-left: 10px
    font-weight: 700
    +adjust-font-size-to(17px)
    +adjust-leading-to(1)

    a
      color: #888481
      text-decoration: none
      display: block
      
      b
        text-transform: uppercase

      span
        display: block
        font-weight: 400
        +adjust-font-size-to(14px)
        +adjust-leading-to(.8)
        color: #b5b2af
        text-transform: default

      &:hover
        color: darken(#888481, 20%)

        span
          color: darken(#888481, 20%)

      &:active
        +effect-click-down

    ul
      +inline-list
      +adjust-leading-to(.9)

      li
        +inline-block
        margin-right: 30px

        &:last-of-type
          margin-right: 0


  nav.nav-user
    +padding-leader(1)
    +padding-trailer(1)
    +span-columns(4 omega, 16)
    
    .info
      color: $gray-light
      
    ul
      +adjust-font-size-to(13px)
      +adjust-leading-to(1)
      overflow: visible
      +float-right
      
      li    
        float: left
        +inline-block
        margin-left: 0
        
        &.item-avatar
          vertical-align: middle
          padding-right: 5px

          .user-avatar
            +inline-block
            +pie-clearfix
            img
              width: 32px
              height: 32px
              float: left
              text-align: center

        &.item-username
          padding-right: 10px
          color: $gray-light
          +inline-block
          +adjust-font-size-to(11px)
          +adjust-leading-to(.8)
          vertical-align: text-top !important
          a
            color: $gray-dark
            text-decoration: none
          
          .username
            display: block
            +adjust-font-size-to(13px)
            +adjust-leading-to(.8)

        &.item-logout
          border-left: 1px solid $gray-lighter
          height: 32px
          padding-left: 5px
          
          a
            color: $gray-dark
            +inline-block
            padding-left: 5px
            padding-right: 5px
            font-weight: bold
            +adjust-font-size-to(13px)
            +adjust-leading-to(.8)
            text-decoration: none
            // line-height: 32px
            vertical-align: top
            
            &:active
              +effect-click-down
            
            &:hover
              color: $gray-darker

body.o_que .nav-page li.o_que, body.conheca .nav-page li.conheca, body.seja_um .nav-page li.seja_um
  a
    color: darken(#888481, 30%) !important
    span
      color: darken(#888481, 30%) !important