.share
  +padding-leader(.5)
  +padding-trailer(.5)

.project-details
  background-color: $white

.project-details-inner
  +container

.project-description
  +span-columns(11, 16)
  +adjust-font-size-to(16px)
  +adjust-leading-to(1)
  color: #7e7a77
  +padding-trailer(1)

  p
    +padding-trailer(1)

  h1
    color: $orange
    font-weight: bold
    +adjust-font-size-to(26px)
    +adjust-leading-to(1)
    text-transform: uppercase
    +padding-leader(1)

  h2
    font-weight: bold
    text-transform: uppercase
    color: #666
    +adjust-font-size-to(18px)
    +adjust-leading-to(1)
    +padding-trailer(1)
  
  iframe
    width: 100%


.project-sidebar
  +span-columns(5 omega, 16)
  background-color: #f8f6f3
  +pie-clearfix

  .investor-benefits
    background-color: #f8f6f3