@import "active_admin/base"
@import "redactor"

.content
  textarea#project_video, textarea#project_excerpt
    height: 150px

  input[type=text], textarea
    width: 600px

#redactor_modal
  label
    width: auto
    text-align: left