meta property="og:image" content="#{root_url}assets/og-facebook.png"
meta property="og:url" content="#{root_url}"
meta property="og:title" content="Mosqueteiros do Esporte"
meta property="og:description" content="Um por todos e todos pelo esporte. Invista coletivamente em um atleta e faça parte de uma história vitoriosa no esporte."
meta property="og:locale" content="pt_BR"
meta property="og:type" content="website"
meta content="698471633, 588036161, 603613350, 533503309" property="fb:admins"